In [3]:
#listt of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School":"Figueroa","Type":"District"},
                    {"High School":"Wilson", "Type":"Charter"},
                    {"High School":"Wright","Type":"Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [6]:
#List of High Schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [15]:
pip install pandas

Requirement already satisfied: pandas in c:\users\stephen\anaconda3\envs\pythondata\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\stephen\anaconda3\envs\pythondata\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\stephen\anaconda3\envs\pythondata\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\stephen\anaconda3\envs\pythondata\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\stephen\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Add the Pandas dependency
import pandas as pd

In [9]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [1]:
high_school_dicts = [{"School ID":0,"school_name":"Huang High School","type": "District"},
                    {"School ID": 1, "school_name":"Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type":"Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [3]:
pd.DataFrame(high_school_dicts)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [10]:
df = pd.DataFrame(index=[0])
df['test'] = '1,2,3'
df

    test
0  1,2,3